#logo {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 25%;
	padding-right:70px;
}

body{
	background-color:#FFF8DC;
	margin:0;
}



nav{
	max-width:960px;
 	text-align: center;
	margin: 0 auto;
	background-color:#FFE4C4;
	clear: both;
	padding:10px;
	margin-top:10px;
}

.links{
	font-size:20px;
	max-width:960px;
	background-color:#FFE4C4;
	padding:10px;
	margin: 0 auto;
	margin-top:10px;
}

.Form{
	max-width:960px;
	background-color:#FFE4C4;
	padding:10px;
	margin: 0 auto;
	margin-top:10px;
}

.HeaderText{
	font-family: Impact;
	font-size:55px;
}

.Table{
	max-width:960px;
	background-color:#FFE4C4;
	padding:10px;
	margin: 0 auto;
	margin-top:10px;
}

table{
	font-size:20px;
	width:100%;
}

.NeChet{
background-color:#FFEBCD;
}

footer, header{
	background-color:#FFDEAD;
	width:100%;
	padding: 30px;
}

footer{
    margin-top:10px;
}

td,th{
border: 1px solid rgb(0, 0, 0);
text-align: center;
}